<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".ui.pages.startview.StartProcessingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.acquiring.AcquiringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.external_webview.ExternalStandardFlowWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.googlepay.webview.GooglePayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.test_page.TestCardsExternalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.success.SuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.error.RepeatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pages.error.ErrorActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.pages.test_page.TestGooglePayExternalActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>